.ir-arriba {
    display: none;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

h2 {
    font-family: 'times new roman';
    font-size: 45px;
}

h3 {
    font-family: 'times new roman';
    font-size: 35px;
}

p {
    font-family: 'times new roman';
    font-size: 25px;
}


.historia {
    padding: 10px;
    margin-top: 15px;
    border: #2e75b6 10px outset;
    border-radius: 5px;
    background-color: #2e75b6;
    color: white;
}

nav {
    background-color: transparent;
    width: 305px;
    margin-top: 2cm;
}

.textHist {
    font-size: 25px;
}

