

body {
    background: linear-gradient(#2e75b6, white, #B0DEFF, #2e75b6);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: block;
    background: #fff;
    padding: 10px 0px;
    margin-top: 2cm;
}

section {
    float: left;
    height: 600px;
    background: #eee;
    border: #B0DEFF 5px double;
}

aside {
    float: right;
    /* border: 3px solid red; */
    width: 20%;
    /* background: #d2d2d2; */
    background: #242150;
    height: 700px;
    border: #B0DEFF 5px double;
}

footer {
    position: relative;
    margin-top: -80px;
    height: 100px;
    padding: 5px 0px;
    clear: both;
    background: #eee;
    text-align: center;
}

.preguntas {
    display: none;
}


.btn:hover {
    background: linear-gradient(white, #B4DEF8, #0D72B5);
    border-color: #B4DEF8;
    color: white;
}

.circulo {
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: red;
    margin-top: 15px;
    margin-left: 0.5cm;
    /* #5cb85c */
}

.acu {
    font-weight: bold;
    margin-left: 3px;
    color: white;
}

.btnInicio {
    font-weight: bold;
    font-size: 25px;
   
}

.panelPre {
    height: 100px;
    width: 500px;
    background: #fff;
    margin-bottom: 2cm;
    margin-top: 0.5cm;
    border-radius: 25px;
}

.fontPts {
    font-style: italic;
    font-weight: normal;
}
